@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../fonts/GT-Walsheim-Pro-Regular.ttf');
}

@font-face {
    font-family: 'GTWalsheimProCondensedBlack';
    src: url('../fonts/GT-Walsheim-Pro-Condensed-Black.ttf');
}

@font-face {
    font-family: 'GTWalsheimProUltraBold';
    src: url('../fonts/GT-Walsheim-Pro-Ultra-Bold.ttf');
}
@font-face {
    font-family: 'GtWaslsheimProCondensedMedium';
    src: url('../fonts/GT-Walsheim-Pro-Condensed-Medium.ttf');
}
@font-face {
    font-family: 'SaolDisplay';
    src: url('../fonts/SaolDisplay-LightItalic.ttf');
}

@font-face { 
    font-family: 'GTWalsheimProLight';
    src: url('../fonts/GT-Walsheim-Pro-Light.ttf'); 
}

.bold-mini-header {
    font-family: 'GtWaslsheimProCondensedMedium';
    text-transform: uppercase;
}