
.scientist-bg {
    background: linear-gradient(-45deg, #222526, #03738C, #BF0449, #BF0436);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    height: 100vh;
}

.scientist-hero {
    background-image: url("/src/components/img/1920-profile.jpg");
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.scientist-image {
    margin-top: 50px;
    height: 300px;
    max-height: 640px;
    width: 500px;
    object-fit: cover;
    z-index: 1;
    animation: slideInFromBottomFadeIn 2s;
}

.scientist-name {
    position: absolute;
    font-family: 'GTWalsheimProCondensedBlack';
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    top: 60%;
    animation: slideInFromLeftFadeIn 2s;
}

.scientist-title {
    position: absolute;
    font-family: 'SaolDisplay';
    text-transform: lowercase;
    font-size: 60px;
    color: #fff;
    z-index: 2;
    top: 80%;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    animation: fadeIn 2.5s;
}

.scientist-bio {

}

.scientist-info {
    height: 100vh;
    -webkit-backdrop-filter: blur(8px);  
    backdrop-filter: blur(8px); 
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}

.scientist-info-visible {
    opacity: 1;
    transform: translateY(0);
}

.scientist-bio-name {
    font-family: 'GTWalsheimProCondensedBlack';
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
}

.scientist-bio-title {
    font-family: 'SaolDisplay';
    color: #fff;
    font-size: 32px;
}

.scientist-description {
    font-family: 'GTWalsheimProLight';
    color: #fff;
    font-size: 22px;
}

.scientist-quote {
    font-family: 'GtWaslsheimProCondensedMedium';
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scientist-list-container {
    animation: fadeIn 2s;
    padding-bottom: 50px;
    
}

.scientist-list-page {
    background: url('/src/components/img/1920-scientist-list.jpg');
    height: 100%;
}

.add-scientist-page {
    background: url('/src/components/img/1920-scientist-list.jpg');
    height: 100vh;
    animation: fadeIn 1.5s;
}

.add-scientist-form {
    -webkit-backdrop-filter: blur(8px);  
    backdrop-filter: blur(8px); 
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    font-family: 'GTWalsheimProLight';
    color: #fff;
}

.important-header {
    color: #fff;
    font-family: 'SaolDisplay';
    font-size: 48px;
}

.add-figure-button {
    color: #FFF;
    background: none;
    border: 2px solid #8C0343;
    border-radius: 0;
    padding: 10px 36px;
    text-decoration: none;
    font-family: 'GTWalsheimProLight', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #8C0343;
    transition: ease-out 0.4s;
}

.add-figure-button:hover {
    box-shadow: inset 400px 0 0 0 #8C0343;
    text-decoration: none;
}

.cancel-figure-button {
    color: #fff;
    background: none;
    border: 2px solid darkslategray;
    border-radius: 0;
    padding: 10px 36px;
    box-shadow: inset 0 0 0 0 darkslategray;
    transition: ease-out 0.4s;
}

.cancel-figure-button:hover {
    box-shadow: inset 400px 0 0 0 darkslategray;
    text-decoration: none;
}

.edit-button {
    color: #fff;
    background: none;
    border: 2px solid #8C0343;
    border-radius: 0;
    padding: 5px 10px;
    box-shadow: inset 0 0 0 0 #8C0343;
    transition: ease-out 0.4s;
}

.edit-button:hover {
    box-shadow: inset 400px 0 0 0 #8C0343;
    text-decoration: none;
}

.white-button {
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 5px 10px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.4s;
    font-family: 'GTWalsheimProLight', sans-serif;
}

.white-button:hover {
    box-shadow: inset 400px 0 0 0 #fff;
    text-decoration: none;
    color: #8c0343;
}

.delete-button {
    color: #fff;
    background: none;
    border: 2px solid #506266;
    border-radius: 0;
    padding: 5px 10px;
    box-shadow: inset 0 0 0 0 #506266;
    transition: ease-out 0.4s;
}

.delete-button:hover {
    box-shadow: inset 400px 0 0 0 #506266;
    text-decoration: none;
}



.add-scientist-page .form-control::placeholder {
    color: #fff;
}

.add-scientist-page .form-control,
.add-scientist-page .form-control:focus {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
}

.add-scientist-page .form-label {
    color: #fff;
    font-family: 'GtWaslsheimProCondensedMedium';
    text-transform: uppercase;
}